html {
    height: 100%;
    width: 100%;
}

body {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.row {
    display: table-row;
    height: 50%;
}

.col {
    display: table-cell;
    vertical-align: middle;
    font: bold 35vh Arial;
    text-align: center;
    color: #333333
}

.row:nth-child(1) {
    background-color: #eee;
}

.row:nth-child(2) {
    background-color: #ddd;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
