html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.row {
    display: table-row;
    height: 50%;
}
.col {
    display: table-cell;
    vertical-align: middle;
    font-size: 100pt;
    text-align: center;
}

.row:nth-child(1) {
    background-color: #eee;
}

.row:nth-child(2) {
    background-color: #ddd;
}
